@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {height: 100%}

body {
    background: #000 url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{ color: #60AF01; }
a:hover { color: #1EAEDB; }

label {
    font-weight: 400;
}

div.container {
    background: rgba(0,0,0,0.25) url(../images/pattern.png) repeat;
    width: 768px;
    padding: 0 20px;
    -webkit-box-shadow:8px 0 15px 0px rgba(0, 0, 0, 0.50), -8px 0 15px 0px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 8px 0 15px 0px rgba(0, 0, 0, 0.50), -8px 0 15px 0px rgba(0, 0, 0, 0.50);
    box-shadow: 8px 0 15px 0px rgba(0, 0, 0, 0.50), -8px 0 15px 0px rgba(0, 0, 0, 0.50);
}

header {
    margin-bottom: 30px;
    line-height: 75px;
}

div.logo {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding-left: 30px;
    white-space:nowrap;
}

div.logo span.tags, nav span.tags { color: #a4a4a4; }

div.logo span.element {
    margin-left: -10px;
    margin-right: -10px;
}

nav { text-align: center; }

nav ul { 
    margin: 0 auto;
}

nav li { 
    display: inline-block;
    cursor: pointer;
    line-height: 28px;
    font-weight: bold;
    width: 80px;
    text-align: left;
    white-space:nowrap;
}

nav li span.tags { display: none;}
nav li:hover span.tags { display: inline-block;}
nav li a.element { padding-left: 7px; color: #fff; text-decoration: none; }
nav li:hover a.element { padding-left: 0px; }

section { 
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

#profile div.column:first-child { position: relative; }

#profile div.picture-container {
    padding-bottom: 20px;
}

#profile div.picture {
    background-image: url(../images/profile.png);
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-size: 165px;
    border: 4px solid #fff;
    margin-left: 40px;
}

#profile span.name {
    display: block;
    font-weight: bold;
    font-size: 24px;
    padding-left: 30px
}

#profile span.role {
    display: block;
    padding-left: 34px;
    color: #a4a4a4;
    font-size: 16px;
}

.copy-left {
    display: inline-block;
    text-align: right;
    margin: 0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

footer {
    text-align: center;
    font-size: 14px;
    color: #a4a4a4;
}

div.social {
    font-size: 30px;
    position: absolute;
    bottom: -50px;
    left: 70px;
}

div.social a { color: #fff; }
div.social a:hover { color: #1EAEDB; }

.text-center { text-align: center; }

.btn {
    padding: 10px 20px;
    background-color: #60AF01;
    color: #c3e698;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn:hover {
    background-color: #1EAEDB;
    color: #bfe0ea;
}

#error-404 h1 {    
    font-size: 10rem;
    letter-spacing: 2rem;
}

#error-404 {
    margin: 0;
    padding: 3rem 0;
}

@media (max-width: 768px) {
    div.container {
        width: 100%;
    }
}
@media (max-width: 549px) {
    body {
        display: block;
    }
    div.container header {
        text-align: center;
    }
    #profile div.column:first-child { margin-bottom: 50px; }
    #profile div.picture { margin: 0 auto; }
    #profile div.info { text-align: center; }

    #profile div.social {
        left: 25%;
        right: 25%;
        text-align: center;
    }
}
