@import url(https://fonts.googleapis.com/css?family=Roboto);
html, body {height: 100%}
body {
    background: #000 url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
a,a:hover {
    color: #60AF01;
}
input[type=email],textarea {
    background-color: #2A2B2F;
    border-color: #14181A;
}
input[type=submit].button-primary {
    background: #60AF01;
    border:0px;
}
textarea:focus, input[type=email]:focus {
    border: 1px solid #383838;
}
lable {
    font-weight: 400;
}

div.container {
    background: rgba(0,0,0,0.25) url(../images/pattern.png) repeat;
    width: 768px;
    padding: 0 20px;
    -webkit-box-shadow:8px 0 15px 0px rgba(0, 0, 0, 0.50), -8px 0 15px 0px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 8px 0 15px 0px rgba(0, 0, 0, 0.50), -8px 0 15px 0px rgba(0, 0, 0, 0.50);
    box-shadow: 8px 0 15px 0px rgba(0, 0, 0, 0.50), -8px 0 15px 0px rgba(0, 0, 0, 0.50);
}
div.container.fixed section#profile {
    padding-top: 90px;
}

div.container.fixed header {
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    margin-left: -20px;
    width: inherit;
    line-height: 50px;
}
div.container.fixed header div.logo { font-size: 28px; }

header {
    margin-bottom: 30px;
    line-height: 75px;
}

div.logo {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding-left: 30px;
}
div.logo span.tags, nav span.tags { color: #a4a4a4; }
div.logo span.element {
    margin-left: -10px;
    margin-right: -10px;
}
nav ul { 
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
nav li { 
    display: inline-block;
    cursor: pointer;
    line-height: 28px;
    font-weight: bold;
    width: 80px;
}

nav li span.tags { display: none;}
nav li:hover span.tags { display: inline-block;}
nav li a.element { padding-left: 7px; color: #fff; text-decoration: none; }
nav li:hover a.element { padding-left: 0px; }



section { 
    border-bottom: 1px dashed #545454;
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 50px;
}
section:before {
    content: "<!";
    position: absolute;
    bottom: -12px;
    color: #545454;
    left: -14px;
    font-size: 16px;
    font-weight: bold;
}
section:after {
    content: ">";
    position: absolute;
    bottom: -12px;
    color: #545454;
    right: -10px;
    font-size: 16px;
    font-weight: bold;
}
#profile div.picture-container {
    padding-bottom: 20px;
}
#profile div.picture {
    background-image: url(../images/profile.jpg);
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-position-x: -5px;
    background-position-y: -5px;
    background-size: 165px;
    border: 4px solid #fff;
    margin-left: 40px;
}

#profile span.name {
    display: block;
    font-weight: bold;
    font-size: 24px;
    padding-left: 30px
}

#profile span.role {
    display: block;
    padding-left: 34px;
    color: #a4a4a4;
    font-size: 16px;
}
div.progressbar {
    margin-bottom: 10px;
}

div.progressbar-container {
    height: 18px;
    width: 90%;
    padding-left: 8px;
    padding-right: 10px;
}
div.progressbar-container div.full {
    display: inline-block;
    background: url(../images/progressbar-inner-full.png) repeat-x;
    height: inherit;
    min-width: 10px;
    position: relative;
}
div.progressbar-container div.full:before {
    content: "";
    background: url(../images/progressbar-corner-full.png) no-repeat;
    height: 18px;
    width: 10px;
    position: absolute;
    left: -10px;
}
div.progressbar-container div.full:after {
    content: "";
    background: url(../images/progressbar-corner-full.png) no-repeat;
    height: 18px;
    width: 10px;
    position: absolute;
    right: -10px;
    -moz-transform:     scaleX(-1);
    -o-transform:       scaleX(-1);
    -webkit-transform:  scaleX(-1);
    transform:          scaleX(-1);
    filter:     FlipH;
    -ms-filter: "FlipH";
    z-index: 100;
}
div.progressbar-container div.empty {
    display: inline-block;
    background: url(../images/progressbar-inner-empty.png) repeat-x;
    height: inherit;
    min-width: 10px;
    position: relative;
    width: 100%;
}
div.progressbar-container div.empty:before {
    content: "";
    background: url(../images/progressbar-corner-empty.png) no-repeat;
    height: 18px;
    width: 10px;
    position: absolute;
    right: -10px;
}

.copy-left {
    display: inline-block;
    text-align: right;
    margin: 0px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

footer {
    text-align: center;
    font-size: 14px;
    color: #a4a4a4;
}

@media (max-width: 768px) {
    div.container {
        width: 100%;
    }
}